{#
 * Block Name: Block Test
#}

<div id="{{ block.id }}">
    <h1 class="{{ block.id }}__title">{{ fields.title_test }}</h1>
    <p class="{{ block.id }}__description">{{ fields.description_test }}</p>
</div> 