{% if menu %}
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
	{% for item in items %}

		{% if item.current == true	%}
			{% set current = 'active' %}
		{% endif %}

		{% if item.children|length > 0 %}
			{% set hasChildren = true %}
			{% set dropdown = 'dropdown' %}
		{% endif %}

		<li class="nav-item {{ current }} {{dropdown}}">
			<a 

			{% if hasChildren == true %}

				class="nav-link dropdown-toggle" 
				href="#"
				id="navbarDropdown_{{item.menu.id}}"
				role="button" 
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"

			{% else %}

				class="nav-link" 
				href="{{ item.link }}"

			{% endif %}

			>{{ item.title }}</a>
			{% set current = '' %}
			{% set hasChildren = false %}
			{% set dropdown = '' %}
			{% include "menu-children.twig" with {'items': item.children} %}
		</li>


		
	{% endfor %}
		</ul>
	</div>
{% endif %}
